body { margin-top: 50px; }
.footer {
    background-color: #1D2731;
}
footer { 
  padding: 20px;
  background-color: #1D2731;
  color: #fff;
}

@media(max-width:768px) {
  .container { margin: 0 15px; }
}
