---
layout: compress
---
/* CONFIGURATION */

/* Bodytext font */
$font: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Font for headings */
$fontheadings: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Text colors */
$text: #21272d;
$textmuted: #848484;
$accent: #2077b2;

@charset 'utf-8';
@import 'bootstrap';

@import 'layout';
@import 'nav';
@import 'header';
@import 'main';
@import 'main';
@import 'scrolling';
